<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Document</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="wrapper">
            <div class="left">
                <div class="leftTop"></div>
                <div class="leftBottom">
                    <div class="lbLeft">
                        <div class="lblTop">
                            <div class="india"></div>
                            <div class="pakistan"></div>
                        </div>
                        <div class="lblbottom">
                            <div class="nepal"></div>
                            <div class="bhutan"></div>
                        </div>
                    </div>
                    <div class="lbRight">
                        <div class="lbrTop"></div>
                        <div class="lbrBottom"></div>
                    </div>
                </div>
            </div>
            <div class="right"></div>
        </div>
    </body>
</html>